@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zilla+Slab:ital,wght@0,300;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-color: white;
}



.Zilla_Slab {
  font-family: Zilla Slab;
  font-weight: 400;
}

.Zilla_change {
  font-family: Zilla Slab;
  font-weight: 400;
}

.Montserrat {
  font-family: Montserrat;
  font-weight: 400;
}

.Montserrat_h1 {
  font-family: Montserrat;
  font-weight: 700;
}

.Montserrat_contact {
  font-family: Montserrat;
  font-weight: 500;
}

.Zilla_Slab_h1 {
  font-family: Zilla Slab;
  font-weight: 700;
}

.Zilla_Slab_contact {
  font-family: Zilla Slab;
  font-weight: 600;
}

.Zilla_Slab_700 {
  font-family: Zilla Slab;
  font-weight: 700;
}

@media (max-width: 1362px) and (min-width: 768px) {
  .Zilla_change {
    color: black;
  }
  
  #align_left {
    top: 445px;
    left: -0px;
    font-size: 40px;
  }

  .full {
    width: 100vw;
  }
  .rap {
    flex-wrap: nowrap;
  }

}

.logo a.non-active {
  border-bottom: 3px solid #ffffff;
  padding-bottom: 9px;
  color: #ffffff;
}




.animate-zoom {
  transition: transform 0.3s ease-in-out;
}

@keyframes zoomOutAndIn {
  0% {
    transform: scale(0.1);
  }
  25% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.2);
  }
}

.zoom:hover .animate-zoom {
  animation: zoomOutAndIn 6s infinite;
}

body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
}
.modal-content {
  position: absolute;
  top: 8%;
  right: -7%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

@media (max-width: 768px) {
  .modal-content {
    top: 28%;
    left: 37%;
  }

}

