@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zilla+Slab:ital,wght@0,300;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  background-color: white;
}



.Zilla_Slab {
  font-family: Zilla Slab;
  font-weight: 400;
}

.Zilla_change {
  font-family: Zilla Slab;
  font-weight: 400;
}

.Montserrat {
  font-family: Montserrat;
  font-weight: 400;
}

.Montserrat_h1 {
  font-family: Montserrat;
  font-weight: 700;
}

.Montserrat_contact {
  font-family: Montserrat;
  font-weight: 500;
}

.Zilla_Slab_h1 {
  font-family: Zilla Slab;
  font-weight: 700;
}

.Zilla_Slab_contact {
  font-family: Zilla Slab;
  font-weight: 600;
}

.Zilla_Slab_700 {
  font-family: Zilla Slab;
  font-weight: 700;
}

@media (max-width: 1362px) and (min-width: 768px) {
  .Zilla_change {
    color: white;
  }
  /*.Montserrat {*/
  /*  font-size: 10px;*/
  /*  line-height: 10px;*/
  /*}*/
  .full {
    width: 100vw;
  }
  .rap {
    flex-wrap: nowrap;
  }

}

.logo a.non-active {
  border-bottom: 3px solid #ffffff;
  padding-bottom: 9px;
  color: #ffffff;
}




.animate-zoom {
  transition: transform 0.3s ease-in-out;
}

@keyframes zoomOutAndIn {
  0% {
    transform: scale(0.1);
  }
  25% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.2);
  }
}

.zoom:hover .animate-zoom {
  /*animation-play-state: paused;*/
  animation: zoomOutAndIn 6s infinite;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: darkblue;;
}

/* For Firefox */
.sco {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.sco::-moz-scrollbar {
  width: 8px;
}

.sco::-moz-scrollbar-track {
  background-color: #f1f1f1;
}

sco::-moz-scrollbar-thumb {
  background-color: darkblue;
}


